<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>About this site</h2>
            </div>
        </header>
        <p>I originally started building this site to help me remember cocktail recipes. It went through a few iterations and got a few feature additions.</p>
        <p>Built with: Express, Nodejs, MongoDB, Handlebars</p>
        <p>Hosted on Heroku</p>
        <p>Images hosted in AWS S3</p>
        <p>Template from <a href="https://html5up.net">HTML5UP</a></p>
    </article>
</div>
