<div id="main">
    <article class="post">
        <header>
            <div class="title">
                <h2>Roadmap for site improvements</h2>
            </div>
        </header>
        <p>Implement Recipes section</p>
        <p>Clean up mongdb schema, keep in mind needs to support featured post list</p>
        <p>Refactor handlebars GUI elements into partials, should make improvements quicker</p>
        <p>Poplate sidebar of index with featured posts instead of all posts</p>
        <p>Paginate index, search, and category list pages</p>
        <p>Add search/filter sidebar to category list pages</p>
        <p>General cleanup</p>
        <p>Actually write some content lol</p>

    </article>
</div>
